<MudStack Row Class="px-12 py-4" Style="position: absolute; width: 100vw; z-index: 1;">
    <MudLink Href="https://sasp.fr/" Style="text-decoration-color: white!important;" Target="_blank">
        <MudText Class="py-auto text-white orbitron">SASP<span style="font-size: 20px;">.fr</span></MudText>
    </MudLink>
    <MudSpacer/>
    <MudIconButton Class="text-white" Icon="fas fa-quote-right" OnClick="@Toggle"/>
</MudStack>
<MudDrawerContainer>
    <MudDrawer @bind-Open="_toggle" Width="100%" Class="drawer-bg">
        <MudDrawerHeader>
            <MudStack Class="px-4 flex-grow-1" Row>
                <MudIconButton Color="Color.Dark"/>
                <MudSpacer/>
                <MudText Class="orbitron-font text-white" Style="font-weight: 600!important; font-size: 44px;!important; font-style: italic; text-decoration: underline;" Align="Align.Center">Funny Quotes</MudText>
                <MudSpacer/>
                <div>
                    <MudIconButton Class="ma-auto text-white" Icon="fas fa-xmark" Style="z-index: 1;" OnClick="@Toggle"/>
                </div>
            </MudStack>
        </MudDrawerHeader>
        <MudStack Row Class="flex-grow-1" Justify="Justify.Center" Style="height: 100vh; width: 100vw;">
            <MudStack Class="ma-auto">
                <MudLink Href="/" Underline="Underline.None" OnClick="@Toggle">
                    <MudText Class="orbitron-font clink text-white" Style="font-weight: 800!important; font-size: 54px!important;" Align="Align.Center">Home</MudText>
                </MudLink>
                <MudLink Href="/formulaire" Underline="Underline.None" OnClick="@Toggle">
                    <MudText Class="orbitron-font clink text-white" Style="font-weight: 800!important; font-size: 54px!important;" Align="Align.Center">Formulaire</MudText>
                </MudLink>
                <MudLink Href="/contact" Underline="Underline.None" OnClick="@Toggle">
                    <MudText Class="orbitron-font clink text-white" Style="font-weight: 800!important; font-size: 54px!important;" Align="Align.Center">Contact</MudText>
                </MudLink>
            </MudStack>
        </MudStack>
        <MudStack Class="mb-4 px-4" Row>
            <MudText Class="orbitron-font text-white" Typo="Typo.caption" Style="font-style: italic;">Auteur : Maxime Brochard</MudText>
            <MudSpacer/>
            <MudText Class="orbitron-font text-white" Typo="Typo.caption" Style="font-style: italic;"></MudText>
        </MudStack>
        <script src="js/background-drawer.js"></script>
        <canvas id="drawer-canvas" style="position: absolute; overflow: hidden;"></canvas>
    </MudDrawer>
</MudDrawerContainer>

@code {
    private bool _toggle;

    public void Toggle()
    {
        _toggle = !_toggle;
    }
}